@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto&display=swap');

*{
   margin: 0%;
   padding: 0%;
}

body{
    background-image: url(./img/background.jpg);
   width: 100%;
}

main{
   margin: auto;
   margin-top: 100px;
}

.nomesMenbros{
    font-family: 'Poppins', sans-serif ;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: solid 4px white;
    border-style: double;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

header{
    background-color: rgb(71, 99, 90);
    height: 120px;
    width: 100%;
    display:flex;
}

.listaDeCards{ 
    width: 1000px;
    display: flex;
    gap: 20px;
    flex-wrap:wrap ;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.cards{
    width: 240px;
    height: 300px;
    background-color: #7eceb3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.imagensMembros{
  display: block;
  margin:auto;
  margin-top: 10px;
}

.footer{
  background-color: rgb(71, 99, 90);
  height: 120px;
  width: 100%;
  margin-top:100px;

  color:white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.creditosDoFooter{
  width: 200px;
  font-weight: bold 15px;
}
